/* Structural */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("images/Forest with Lake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

#content {
    background-color: rgb(244, 231, 211, 0.45);
    width:100%;
    padding:2px;
    margin:auto;    /* centers in the page */
    border-radius:5px;
    box-shadow: 0px 0px 10px 5px #F2CF63;
    text-align: center;
}

header {
    padding:5px;
    color:#F2CF63;
    text-align: center;

}


main {
    padding:5px;
    color:#F2CF63;
    text-align: center;
}
p {
    color:#815434
}
img {
    border-radius:5px;
    box-shadow: 0px 0px 10px 5px #3C8D8D;
    padding: 2%;
}

footer {
    padding:5px;
    color:#F2CF63;
    text-align: center;
}

header {
    color: #F2CF63;
    padding:20px;
    text-align: center;
}
a {
    margin-top: 10px;
}


/* Navigation */
ol {
    list-style-position:inside;
    display: inline-block;
    text-align: left;
    margin-top: 2px;
}
a {
    text-decoration: none; /* get rid of the lines */
    color: #C3C2F2;
}

/* Typography */
h1 {
    color:#264D3B;
}
h2 {
    color:#C96A3D;
}

/* Table */
table {
    padding:1%;
    color:#0b6023;
    text-align: center;
    border-color: #815434;
    border: #815434;
    box-shadow: 0px 0px 10px 5px #815434;
    border-collapse: collapse;
}
td {
    border: 2px solid #815434;
    border-collapse: collapse;
}