/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F3D59;
}

#content {
    width: 80%;
    margin: auto;
}

#main-header {
    background-color: #730E3D;
    padding: 5px;
    text-align: center;
}

main {
    background-color: #F2E8CF;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: #730E3D;
    color: white;
    padding: 5px;
    text-align: center;
}

/* Assignments and Projects */
.columns {
    display: flex;
    gap: 25px;
}

.one {
    flex: 1;
    background-color: #F2BA52;
    padding: 15px;
    width: 300px;
    text-align: auto;
    margin: auto;
}

/* Images */
.one img {
    width: 300px;
    height: 150px;
    display: block;
    margin: auto;
}

/* Typography */
#main-header h1 {
    text-align: center;
    padding-top: 15px;
    color: white;
}

#main-header h2 {
    text-align: center;
    color: #F2BA52;
}

#main-header p {
    color: white;
    text-align: center;
}

main > h2 {
    text-align: center;
    color: #730E3D;
}

.one h3 {
    color: #730E3D;
}

.one p {
    color: #730E3D;
}


/* Links */
a {
    color: #730E3D;
    text-decoration: none;
}

#main-header a {
    color: white;
    display: block;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 1099px) {

    .columns {
        flex-direction: column;
    }

    .one {
        width: 300px;
        
    }

}